
div.page-wrapper{
	display: grid;
	grid-gap: 8px;
	grid-template-columns: 8fr auto;
	grid-background: rgba(200, 200, 200, .5);
}
body {
	position: relative;
	background-image: url("background.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-left: 20px;
	margin-left: 20px;
 }
  
#zen-intro{
	color: black;
	grid-column: 1 / 3;
	background:transparent url("mountain.png") no-repeat top right; 
      }
header h1{
	text-align: center;
	font-family: arial;
	font-size:  43px;
}

div.explanation{
	grid-area: explanation;
}

div.participation{
	grid-area: participation;
}
div.benefits{
	grid-area: benefits;
}
div.requirements{
	grid-area: requirements;
}

footer {
	text-align: right;
	
}
p[role = "contentinfo"]{
	font-style : italic;
	font-size : 12px;
}

.sidebar li a:link {
	color: #976E32;
	}

.sidebar li a:visited {
	color: #0089BA;
	
}
.sidebar {
	background: rgba(200, 200, 200, .5);
}

#zen-supporting h3{
	text-align: center;
}

h3[class = "select"], [class = "archives"], [class = "resources"] {
	text-align: center;
	font-color: white;
}

.summary{
	margin-right: 30%;
}
/*	grid-template-rows:  auto 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas: "zen-intro zen-intro"  
	"explanation sidebar"
	"participation ."
	"benefits ."
	"requirements"
	"footer footer";*/
